
<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<!-- Header -->
<header class="page-header d-print-none" role="banner">
  <div class="row g-2 align-items-center">
    <div class="col-auto">
      <!-- Avatar -->
      <%- gallery = parent_page.resource.gallery.images %>
      <%- image_src = gallery.any? && gallery.first.attachment.attached? ? url_for(gallery.first.attachment) : image_path('admin/default-placeholder.png') %>
      <img src="<%= image_src %>" alt="<%= parent_page.resource.name %>" class="avatar avatar-lg">
    </div>

    <div class="col ms-n3 ms-md-n2">
      <!-- Pretitle -->
      <div class="page-pretitle">
        <%= link_to t("administrate.actions.back"), :back %>
      </div>
      <!-- Title -->
      <h2 class="page-title text-truncate">
        <%= content_for(:title) %>
      </h2>
    </div>


    <div class="col-auto">
      <!-- Actions -->
      <%= render(
        "index_header_actions",
        page: page,
        parent_page: parent_page,
        resources: resources
      ) %>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <!-- Tabs -->
      <%= render 'admin/spree/products/tabs', page: parent_page, namespace: namespace %>
    </div>
  </div>
</header>