<fieldset class="form-fieldset nested-fields mb-3" data-new-record=<%= f.object.new_record?%>>
  <% field.nested_fields_for_builder(f).each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <%= link_to(
        t("administrate.fields.nested_has_many.remove", 
        # resource: field.associated_class_name.titleize), 
        resource: field.associated_class.model_name.human),
        "#", class: 'text-danger',
        data: { action: "click->nested-form#remove_association" }
      ) %>
  
  <%= f.hidden_field :_destroy %>
</fieldset>