<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>


<turbo-frame id="<%= dom_id(parent_page.resource, controller_name) %>">
  <section class="main-content__body">
    <!-- Customer ID -->
    <div class="card-body">
      <h3 class="card-title">
        Cliente

        <%= link_to(
          t("administrate.actions.edit_resource", name: "Customer"),
          [:edit, namespace, parent_page.resource, controller_name.singularize.to_sym],
          class: "btn btn-link",
          'data-turbo-frame': "remote_modal"
        ) %>
      </h3>
      <% if parent_page.resource.user.present? %>
        <%= render_field parent_page.attributes.detect{|a| a.name == "user"} %>
      <% else %>
        <%= t('spree.guest_checkout') %>
      <% end %>
    </div>

    <!-- Customer Email -->
    <div class="card-body">
      <h3 class="card-title">Info</h3>
      <%= render_field parent_page.attributes.detect{|a| a.name == "email"} %>
    </div>

    <!-- Customer Billing Address -->
    <div class="card-body">
      <h3 class="card-title">Billing address</h3>
      <turbo-frame id="<%= dom_id(parent_page.resource, "bill_addresses") %>" src="<%= polymorphic_path([namespace, parent_page.resource, :bill_address]) %>">
        <div class="row w-100 placeholder-glow gy-1">
          <% 3.times do %>
            <div class="placeholder col-12 h-30"></div>
          <% end %>
        </div>
      </turbo-frame>
    </div>

    <!-- Customer Shipping Address -->
    <div class="card-body">
      <h3 class="card-title">Shipping address</h3>
      <turbo-frame id="<%= dom_id(parent_page.resource, "ship_addresses") %>" src="<%= polymorphic_path([namespace, parent_page.resource, :ship_address]) %>">
        <div class="row w-100 placeholder-glow gy-1">
          <% 3.times do %>
            <div class="placeholder col-12 h-30"></div>
          <% end %>
        </div>
      </turbo-frame>
    </div>

    <dl>
      <% page.attributes.each do |attribute| %>
        <%- attr_id = "#{attribute.name}_attribute".to_sym %>
        <%- content_for(attr_id) do %>
          <dt class="attribute-label" id="<%= attribute.name %>">
            <%= t( "helpers.label.#{resource_name}.#{attribute.name}",
                default: page.resource.class.human_attribute_name(attribute.name)) %>
          </dt>

          <dd class="attribute-data attribute-data--<%=attribute.html_class%>">
            <%= render_field attribute, page: page %>
          </dd>
        <% end %>

        <% unless attribute.editable_inline? %>
          <%= content_for(attr_id) %>
        <% else %>
          <%= render('inline_edit', resource: page.resource, attribute: attribute.name, namespace: namespace) do %>
            <%= content_for(attr_id) %>
          <% end %>
        <% end %>
      <% end %>
    </dl>
  </section>
</turbo-frame>