<%#
# Index

This view is the template for the index page.
It is responsible for rendering the search bar, header and pagination.
It renders the `_table` partial to display details about the resources.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Collection][1].
  Contains helper methods to help display a table,
  and knows which attributes should be displayed in the resource's table.
- `resources`:
  An instance of `ActiveRecord::Relation` containing the resources
  that match the user's search criteria.
  By default, these resources are passed to the table partial to be displayed.
- `search_term`:
  A string containing the term the user has searched for, if any.
- `show_search_bar`:
  A boolean that determines if the search bar should be shown.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<%=
  render("index_header",
    resources: resources,
    search_term: search_term,
    page: page,
    show_search_bar: show_search_bar,
  )
%>

<div class="row">
  <div class="col-12 col-xl-9">

    <section class="card p-0">
      <!-- Table Header -->
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-md col-sm-12">
            
            <!-- Search Form -->
            <% if show_search_bar %>
              <%= render(
                "search",
                search_term: search_term,
                resource_name: display_resource_name(page.resource_name)
              ) %>
            <% end %>

          </div>

          <div class="col-auto me-n3">

            <!-- Select -->
            <form>
              <select class="form-select form-control-sm form-control-flush">
                <option selected>15 per page</option>
                <option>25 per page</option>
                <option>50 per page</option>
                <option>All</option>
              </select>
            </form>

          </div>

          <% if show_filters %>
            <div class="col-auto">
              <button class="btn btn-sm btn-white" type="button" 
                  data-bs-toggle="offcanvas" href="#offcanvasFilters" aria-controls="offcanvasFilters" 
                  data-bs-auto-close="outside">
                <i class="icon ti ti-sliders me-1"></i> 
                Filter <span class="badge bg-primary ms-1 d-none">0</span>
              </button>
            </div>
          <% end %>

        </div>
      </div>

      <!-- Table Body -->
      <turbo-frame id="index_<%= page.resource_name %>">
        <%= render(
          "collection",
          collection_presenter: page,
          collection_field_name: resource_name,
          page: page,
          resources: resources,
          table_title: "page-title"
        ) %>
      </turbo-frame>

      <!-- Table Footer -->
      <div class="card-footer">
        <%= paginate resources, param_name: '_page', theme: :admin %>
      </div>
    </section>

  </div>
  <div class="col-12 col-xl-3">
    <%= render('summary',
        page: parent_page,
        resource: parent_page.resource) %>
  </div>
</div>


<% if show_filters %>
  <%= render(
    'filters', 
    resource_name: display_resource_name(page.resource_name)
  ) %>
<% end %>