<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form mb-3 mt-3", data: { turbo_action: "replace" } }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation" class="form-errors alert alert-danger" role="alert">
      <h4 class="alert-title">
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h4>
      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error align-items-center">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-body mt-3 mb-3">
    <%- attributes = page.attributes(controller.action_name) %>
    <!-- Main Store Content -->
    <div class="card mb-3">
      <div class="card-body">
        <% content_attributes = %i[name code url default available_locales] %>
        <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
          <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
            <%= render_field attribute, f: f %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Store Mail -->
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="card-title">Mail</h3>
        <% content_attributes = %i[bcc_email mail_from_address] %>
        <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
          <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
            <%= render_field attribute, f: f %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Store Currency -->
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="card-title">Valuta</h3>
        <% content_attributes = %i[default_currency cart_tax_country_iso] %>
        <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
          <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
            <%= render_field attribute, f: f %>
          </div>
        <% end %>
      </div>
    </div>
    
    <!-- Product SEO -->
    <% seo_attributes = %i[meta_title meta_description meta_keywords slug] %>
    <% if attributes.detect{|a| seo_attributes.include? a.attribute } %>
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <h3 class="card-title mb-3">Anteprima inserzione per i motori di ricerca</h3>
          <%= render Admin::Store::SeoPreview::Component.new(resource: page.resource) %>
        </div>
        <div class="card-body">
          <% attributes.select{|a| seo_attributes.include? a.attribute }.each do |attribute| %>
            <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
              <%= render_field attribute, f: f %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <hr/>
    <% if valid_action? :destroy, page.resource_name %>
      <%= link_to 'Delete', [namespace, page.resource], class: 'btn btn-outline-danger', 
                  data: { turbo_method: :delete, turbo_confirm: t("administrate.actions.confirm"), turbo_action: "replace" } %>
    <% end %>

    <%= f.submit class: "btn btn-primary float-end" %>
  </div>
<% end %>
