<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form mb-3 mt-3", data: { turbo_action: "replace" } }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation" class="form-errors alert alert-danger" role="alert">
      <h4 class="alert-title">
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h4>
      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error align-items-center">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-body mt-3 mb-3">
    <div class="row">
      <%- attributes = page.attributes(controller.action_name) %>

      <!-- Content -->
      <div class="col-12 col-md-8">
        <!-- Main Promotion Content -->
        <div class="card mb-3">
          <div class="card-body">
            <% content_attributes = %i[name description promotion_category] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>
        </div>
        
        <!-- Promotion Codes -->
        <div class="card mb-3">
          <div class="card-header">
            <h3 class="card-title">Codici sconto</h3>
          </div>
          <% content_attributes = %i[promotion_codes] %>
          <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
            <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
              <%= render_field attribute, f: f %>
            </div>
          <% end %>
        </div>

        <!-- Promotion Uses -->
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">Limiti di utilizzo</h3>
            <% content_attributes = %i[usage_limit] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Promotion Availability -->
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">Periodo di validità</h3>
            <% content_attributes = %i[starts_at expires_at] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Promotion Rules -->
        <% if page.resource.persisted? %>
          <div class="card mb-3">
            <div class="card-body">
              <h3 class="card-title">Regole di validità della promozione</h3>
              <% content_attributes = %i[match_policy] %>
              <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
                <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                  <%= render_field attribute, f: f %>
                </div>
              <% end %>
            </div>
            <turbo-frame id="<%= dom_id(page.resource, "rules") %>" src="<%= polymorphic_path([namespace, page.resource, Spree::PromotionRule]) %>">
              <div class="card-body">
                <div class="row w-100 placeholder-glow gy-1">
                  <% 3.times do %>
                    <div class="placeholder col-12"></div>
                  <% end %>
                </div>
              </div>
            </turbo-frame>
          </div>
        <% end %>

        <!-- Promotion Actions -->
        <% if page.resource.persisted? %>
          <div class="card mb-3">
            <div class="card-header">
              <h3 class="card-title">Azioni all'applicazione della promozione</h3>
            </div>
            <turbo-frame id="<%= dom_id(page.resource, "actions") %>" src="<%= polymorphic_path([namespace, page.resource, Spree::PromotionAction]) %>">
              <div class="card-body">
                <div class="row w-100 placeholder-glow gy-1">
                  <% 3.times do %>
                    <div class="placeholder col-12"></div>
                  <% end %>
                </div>
              </div>
            </turbo-frame>
          </div>
        <% end %>
      </div>
      
      <!-- Side content -->
      <div class="col-12 col-md-4">
        <%= render 'summary', page: page, f: f %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <hr/>
    <% if valid_action?(:destroy, page.resource_name) && show_action?(:destroy, page.resource) %>
      <%= link_to 'Delete', [namespace, page.resource], class: 'btn btn-outline-danger', 
                  data: { turbo_method: :delete, turbo_confirm: t("administrate.actions.confirm"), turbo_action: "replace" } %>
    <% end %>

    <%= f.submit class: "btn btn-primary float-end" %>
  </div>
<% end %>
