<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form mb-3 mt-3", data: { turbo_action: "replace" } }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation" class="form-errors alert alert-danger" role="alert">
      <h4 class="alert-title">
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h4>
      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error align-items-center">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-body mt-3 mb-3">
    <div class="row">
      <%- attributes = page.attributes(controller.action_name) %>

      <!-- Content -->
      <div class="col-12 col-md-8">

        <!-- Main Product Content -->
        <div class="card mb-3">
          <div class="card-body">
            <% content_attributes = %i[name description] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Product Images -->
        <% if page.resource.persisted? %>
          <div class="card mb-3">
            <div class="card-body">
              <h3 class="card-title">Media</h3>
              <turbo-frame id="<%= dom_id(page.resource, "images") %>" src="<%= polymorphic_path([namespace, page.resource, ::Spree::Image]) %>">
                <div class="row w-100 placeholder-glow">
                  <% 3.times do %>
                    <div class="col-12 col-md-4">
                      <div class="ratio ratio-1x1 card">
                        <div class="card-body placeholder"></div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </turbo-frame>
            </div>
          </div>
        <% end %>

        <!-- Product Prices -->
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">Prices</h3>
            <% content_attributes = %i[price cost_price cost_currency] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>

          <% if page.resource.persisted? %>
            <turbo-frame id="<%= dom_id(page.resource, "prices") %>" src="<%= polymorphic_path([namespace, page.resource, ::Spree::Price]) %>">
              <div class="card-body">
                <div class="row w-100 placeholder-glow gy-1">
                  <% 3.times do %>
                    <div class="placeholder col-12"></div>
                  <% end %>
                </div>
              </div>
            </turbo-frame>
          <% end %>
        </div>

        <!-- Product Variants -->
        <% if page.resource.persisted? %>
          <div class="card mb-3">
            <div class="card-header">
              <h3 class="card-title">Variants</h3>
            </div>
            <turbo-frame id="<%= dom_id(page.resource, "variants") %>" src="<%= polymorphic_path([namespace, page.resource, ::Spree::Variant]) %>">
              <div class="card-body">
                <div class="row w-100 placeholder-glow gy-1">
                  <% 3.times do %>
                    <div class="placeholder col-12"></div>
                  <% end %>
                </div>
              </div>
            </turbo-frame>
          </div>
        <% end %>

        <!-- Product Stocks -->
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">Stock items</h3>
            <% content_attributes = %i[sku track_inventory] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>
          <% if page.resource.persisted? %>
            <turbo-frame id="<%= dom_id(page.resource, "stock_items") %>" src="<%= polymorphic_path([namespace, page.resource, ::Spree::StockItem]) %>">
              <div class="card-body">
                <div class="row w-100 placeholder-glow gy-1">
                  <% 3.times do %>
                    <div class="placeholder col-12"></div>
                  <% end %>
                </div>
              </div>
            </turbo-frame>
          <% end %>
        </div>
        
        <% unless page.resource.has_variants? %>
          <!-- Product Master Variant Shippings -->
          <div class="card mb-3">
            <div class="card-body">
              <h3 class="card-title">Shipping</h3>
              <% content_attributes = %i[height width depth weight] %>
              <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
                <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                  <%= render_field attribute, f: f %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <!-- Product Properties -->
        <% if page.resource.persisted? %>
          <div class="card mb-3">
            <div class="card-header">
              <h3 class="card-title">Property</h3>
            </div>
            <% content_attributes = %i[product_properties] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>
        <% end %>
        
        <!-- Product SEO -->
        <% seo_attributes = %i[meta_title meta_description meta_keywords slug] %>
        <% if attributes.detect{|a| seo_attributes.include? a.attribute } %>
          <div class="card mt-3 mb-3">
            <div class="card-body">
              <h3 class="card-title mb-3">Anteprima inserzione per i motori di ricerca</h3>
              <%= render Admin::Product::SeoPreview::Component.new(resource: page.resource) %>
            </div>
            <div class="card-body">
              <% attributes.select{|a| seo_attributes.include? a.attribute }.each do |attribute| %>
                <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                  <%= render_field attribute, f: f %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

      <!-- Side content -->
      <div class="col-12 col-md-4">
        <!-- Available -->
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">Availability</h3>
            <% content_attributes = %i[available_on discontinue_on] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="card mb-3 bg-light-lt">
          <div class="card-body text-black">
            <h3 class="card-title">Additional info</h3>
            <% content_attributes = %i[option_types taxons tax_category shipping_category stores] %>
            <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
              <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
                <%= render_field attribute, f: f %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <hr/>
    <% if valid_action?(:destroy, page.resource_name) && show_action?(:destroy, page.resource) %>
      <%= link_to 'Delete', [namespace, page.resource], class: 'btn btn-outline-danger', 
                  data: { turbo_method: :delete, turbo_confirm: t("administrate.actions.confirm"), turbo_action: "replace" } %>
    <% end %>

    <%= f.submit class: "btn btn-primary float-end" %>
  </div>
<% end %>
