<%
  attribute_labels ||= {}
  filterable_attributes ||= @dashboard.filterable_attributes
  attribute_types ||= @dashboard.attribute_types.select {|attr, _type| filterable_attributes.include? attr }
  form_options = { class: 'mb-4', html: { 'data-administrate-ransack-filters': '1' }, builder: Admin::SearchBuilder }
  namespace = local_assigns[:namespace] || :admin
  if local_assigns.has_key?(:search_path)
    form_path = @ransack_results
    form_options[:url] = search_path
    clear_filters_path = search_path
  else
    form_path = [namespace, @ransack_results]
    clear_filters_path = url_for([namespace, @ransack_results.klass])
  end
%>

<!-- Filters -->
<!-- https://github.com/activerecord-hackery/ransack/blob/master/lib/ransack/helpers/form_builder.rb -->
<div class="offcanvas offcanvas-end overflow-auto" id="offcanvasFilters" tabindex="-1">
	<%= search_form_for form_path, form_options do |f| %>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title"><%= t('administrate.filter.label', resource: resource_name) %></h4>
		
		<%= link_to clear_filters_path, class: 'btn btn-sm btn-link text-reset btn-clear-filters' do %>
			<i class="icon ti ti-clear-all"></i>
			<%= t('administrate.filter.clear') %>
		<% end %>
	</div>
	<div class="offcanvas-body filters">
		<div class="mt-n4 mb-4">
			<% attribute_types.each do |field, type| %>
				<% next if field == :id %>

				<% label = attribute_labels.include?(field) ? attribute_labels[field] : field %>
				<% model = @ransack_results.klass %>
				<% input_type = type.is_a?(Administrate::Field::Deferred) ? type.deferred_class.to_s : type.to_s %>
				<div class="filter filter-<%= field.to_s.parameterize %> <%= input_type.parameterize %> mb-3">
					<% case input_type %>
					<% when 'Administrate::Field::BelongsTo' %>
					<% association = model.reflections[field.to_s] %>
					<%= render 'admin/filters/field_belongs_to', form: f, model: model, field: field, label: label, association: association %>
					<% when 'Administrate::Field::Boolean' %>
					<%= render 'admin/filters/field_boolean', form: f, model: model, field: field, label: label %>
					<% when 'Administrate::Field::Date' %>
					<%= render 'admin/filters/field_date', form: f, model: model, field: field, label: label %>
					<% when 'Administrate::Field::DateTime' %>
					<%= render 'admin/filters/field_datetime', form: f, model: model, field: field, label: label %>
					<% when 'Administrate::Field::Email', 'Administrate::Field::String', 'Administrate::Field::Text' %>
					<%= render 'admin/filters/field_string', form: f, model: model, field: field, label: label %>
					<% when 'Administrate::Field::Number' %>
					<%= render 'admin/filters/field_number', form: f, model: model, field: field, label: label %>
					<% when 'Administrate::Field::HasMany' %>
					<% association = model.reflections[field.to_s] %>
					<%= render 'admin/filters/field_has_many', form: f, model: model, field: field, label: label, association: association %>
					<% when 'Administrate::Field::Select' %>
					<%= render 'admin/filters/field_select', form: f, model: model, field: field, label: label, type: type %>
					<% else %>
					<%= render 'admin/filters/field_other', form: f, model: model, field: field, label: label, type: type %>
					<% end %>
				</div>
			<% end %>
		</div>

		<%= render 'admin/filters/filter_buttons', form: f, clear_filters_path: clear_filters_path %>
	</div>
<% end %>