<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>
<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark" id="sidebar">
  <div class="container-fluid">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <h1 class="navbar-brand navbar-brand-autodark">
      <img src="<%= image_path("admin/solidus-symbol-light.png") %>" class="navbar-brand-img mx-auto" alt="Solidus">
    </h1>

    <div class="navbar-nav flex-row d-lg-none">
      <%= render "user_session" -%>
    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav flex-grow-0">
        <%# Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
          <%# if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource)) %>
            <!--
            <li class="nav-item">
              <%#= link_to(
                display_resource_name(resource),
                resource_index_route(resource),
                class: "nav-link #{nav_link_state(resource)}"
              ) %>
            </li>
            -->
          <%# end %>
        <%# end %>
        
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="icon ti ti-home"></i> 
            </span>
            <span class="nav-link-title">
              Home
            </span>
          </a>
        </li>

        <%- Rails.application.config.admin_navigation.main_entries.sort_by(&:position).each do |menu_item| %>
          <% if menu_item.children? %>

            <%= render Admin::Navigation::MenuDropdown::Component.new(icon: menu_item.icon, label: menu_item.label, 
                active: menu_item.urls.any? {|u| active_link? u }) do |c| %>
              <%- menu_item.ordered_children.each do |child_menu_item| %>
                <% c.item do %>
                  <%= active_link_to child_menu_item.label, child_menu_item.url, class: 'dropdown-item' %>
                <% end %>
              <% end %>
            <% end %>

          <% else %>
            <li class="nav-item">
              <%= active_link_to menu_item.url, class: 'nav-link' do %>
                <%= render Admin::Navigation::MenuItem::Component.new(item: menu_item) %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <!-- Divider -->
      <hr class="navbar-divider my-3">

      <!-- Heading -->
      <h6 class="navbar-heading"><%= t 'admin.navigation.settings.title' %></h6>

      <!-- Navigation -->
      <ul class="navbar-nav mb-md-4">
        <%- Rails.application.config.admin_navigation.setting_entries.sort_by(&:position).each do |menu_item| %>
          <% if menu_item.children? %>

            <%= render Admin::Navigation::MenuDropdown::Component.new(icon: menu_item.icon, label: menu_item.label,
                                                                      active: menu_item.urls.any? {|u| active_link? u }) do |c| %>
              <%- menu_item.ordered_children.each do |child_menu_item| %>
                <% c.item do %>
                  <%= active_link_to child_menu_item.label, child_menu_item.url, class: 'dropdown-item' %>
                <% end %>
              <% end %>
            <% end %>

          <% else %>
            <li class="nav-item">
              <%= active_link_to menu_item.url, class: 'nav-link' do %>
                <%= render Admin::Navigation::MenuItem::Component.new(item: menu_item) %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <!-- Push content down -->
      <div class="mt-auto"></div>
    </div>
  </div>
</aside>