<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>
<nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-dark" id="sidebar">
  <div class="container-fluid">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="<%= image_path("admin/solidus-symbol-light.png") %>" class="navbar-brand-img mx-auto" alt="Solidus">
    </a>

    <!-- User (xs) -->
    <div class="navbar-user d-md-none">

    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">
      <ul class="navbar-nav">
        <%# Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
          <%# if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource)) %>
            <!--
            <li class="nav-item">
              <%#= link_to(
                display_resource_name(resource),
                resource_index_route(resource),
                class: "nav-link #{nav_link_state(resource)}"
              ) %>
            </li>
            -->
          <%# end %>
        <%# end %>
        
        <li class="nav-item">
          <a class="nav-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" 
              aria-expanded="false" aria-controls="sidebarDashboards">
            <i class="fe fe-home"></i> Dashboards
          </a>
          <div class="collapse" id="sidebarDashboards">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Default
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <%= active_link_to admin_orders_path, class: 'nav-link' do %>
            <i class="fe fe-package"></i> Orders
          <% end %>
        </li>

        <%- product_resource_paths = [admin_products_path, admin_option_types_path, admin_properties_path, admin_taxonomies_path] %>
        <%- is_product_resources_active = product_resource_paths.any? {|resource| active_link? resource } %>
        <li class="nav-item">
          <a class="nav-link" href="#sidebarProducts" data-bs-toggle="collapse" role="button" 
              aria-expanded="<%= is_product_resources_active ? 'true' : 'false'%>" aria-controls="sidebarProducts">
            <i class="fe fe-tag"></i> Products
          </a>
          <div class="collapse <%= 'show' if is_product_resources_active%>" id="sidebarProducts">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <%= active_link_to admin_products_path, class: 'nav-link' do %>
                  All Products
                <% end %>
              </li>
              <li class="nav-item">
                <%= active_link_to admin_option_types_path, class: 'nav-link' do %>
                  Option Types
                <% end %>
              </li>
              <li class="nav-item">
                <%= active_link_to admin_properties_path, class: 'nav-link' do %>
                  Option Properties
                <% end %>
              </li>
              <li class="nav-item">
                <%= active_link_to admin_taxonomies_path, class: 'nav-link' do %>
                  Taxonomies
                <% end %>
              </li>
            </ul>
          </div>
        </li>

        <%- promotion_resource_paths = [admin_promotions_path, admin_promotion_categories_path] %>
        <%- is_promotion_resources_active = promotion_resource_paths.any? {|resource| active_link? resource } %>
        <li class="nav-item">
          <a class="nav-link" href="#sidebarPromotions" data-bs-toggle="collapse" role="button" 
              aria-expanded="<%= is_promotion_resources_active ? 'true' : 'false' %>" aria-controls="sidebarPromotions">
            <i class="fe fe-percent"></i> Promotions
          </a>
          <div class="collapse <%= 'show' if is_promotion_resources_active %>" id="sidebarPromotions">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <%= active_link_to admin_promotions_path, class: 'nav-link' do %>
                  All Promotions
                <% end %>
              </li>
              <li class="nav-item">
                <%= active_link_to admin_promotion_categories_path, class: 'nav-link' do %>
                  Promotion Categories
                <% end %>
              </li>
            </ul>
          </div>
        </li>

        <%- stock_resource_paths = [admin_stock_items_path, admin_stock_locations_path] %>
        <%- is_stock_resources_active = stock_resource_paths.any? {|resource| active_link? resource } %>
        <li class="nav-item">
          <a class="nav-link" href="#sidebarStocks" data-bs-toggle="collapse" role="button" 
              aria-expanded="<%= is_stock_resources_active ? 'true' : 'false' %>" aria-controls="sidebarStocks">
            <i class="fe fe-box"></i> Stocks
          </a>
          <div class="collapse <%= 'show' if is_stock_resources_active %>" id="sidebarStocks">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <%= active_link_to admin_stock_items_path, class: 'nav-link' do %>
                   All Stock Items
                <% end %>
              </li>
              <li class="nav-item">
                <%= active_link_to admin_stock_locations_path, class: 'nav-link' do %>
                   Stock locations
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="navbar-divider my-3">

      <!-- Heading -->
      <h6 class="navbar-heading">Settings</h6>

      <!-- Navigation -->
      <ul class="navbar-nav mb-md-4">
        <%- settings_resource_paths = [admin_stores_path, admin_payment_methods_path, admin_zones_path] %>
        <%- is_settings_resources_active = settings_resource_paths.any? {|resource| active_link? resource } %>
        <li class="nav-item">
          <a class="nav-link" href="#sidebarSettings" data-bs-toggle="collapse" role="button" 
              aria-expanded="<%= is_settings_resources_active ? 'true' : 'false' %>" aria-controls="sidebarSettings">
            <i class="fe fe-settings"></i> Settings
          </a>
          <div class="collapse <%= 'show' if is_settings_resources_active %>" id="sidebarSettings">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <%= active_link_to admin_stores_path, class: 'nav-link' do %>
                   Stores
                <% end %>
              </li>
              <li class="nav-item">
                <%= active_link_to admin_payment_methods_path, class: 'nav-link' do %>
                   Payment Methods
                <% end %>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#sidebarSettingShipping" data-bs-toggle="collapse" role="button" 
                    aria-expanded='false' aria-controls="sidebarSettingShipping">
                  Shipping
                </a>
                <div class="collapse" id="sidebarSettingShipping">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <%= active_link_to admin_shipping_methods_path, class: 'nav-link' do %>
                        Shipping Methods
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= active_link_to admin_shipping_categories_path, class: 'nav-link' do %>
                        Shipping Categories
                      <% end %>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#sidebarSettingTaxes" data-bs-toggle="collapse" role="button" 
                    aria-expanded='false' aria-controls="sidebarSettingTaxes">
                  Taxes
                </a>
                <div class="collapse" id="sidebarSettingTaxes">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <%= active_link_to admin_tax_categories_path, class: 'nav-link' do %>
                        Tax Categories
                      <% end %>
                    </li>
                    <li class="nav-item">
                      <%= active_link_to admin_tax_rates_path, class: 'nav-link' do %>
                        Tax Rates
                      <% end %>
                    </li>
                  </ul>
                </div>
              </li>


              <li class="nav-item">
                <%= active_link_to admin_zones_path, class: 'nav-link' do %>
                   Zones
                <% end %>
              </li>

            </ul>
          </div>
        </li>
      </ul>

      <!-- Push content down -->
      <div class="mt-auto"></div>
    </div>
</nav>
