<%#
# Index

This view is the template for the index page.
It is responsible for rendering the search bar, header and pagination.
It renders the `_table` partial to display details about the resources.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Collection][1].
  Contains helper methods to help display a table,
  and knows which attributes should be displayed in the resource's table.
- `resources`:
  An instance of `ActiveRecord::Relation` containing the resources
  that match the user's search criteria.
  By default, these resources are passed to the table partial to be displayed.
- `search_term`:
  A string containing the term the user has searched for, if any.
- `show_search_bar`:
  A boolean that determines if the search bar should be shown.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<%=
  render("index_header",
    resources: resources,
    search_term: search_term,
    page: page,
    show_search_bar: show_search_bar,
  )
%>

<div class="row" data-controller="table">
  <div class="col-12">
    
    <!-- Table Header -->
    <div class="page-header mb-3">
      <div class="row align-items-center">
        <div class="col">
          <!-- Search Form -->
          <% if show_search_bar %>
            <%= render(
              "search",
              search_term: search_term,
              resource_name: display_resource_name(page.resource_name)
            ) %>
          <% end %>
        </div>

        <div class="col-auto ms-auto">
          <!-- Per page select -->
          <%= form_tag polymorphic_path([namespace, page.resource_path.pluralize.to_sym]), method: :get do %>
            <%= select_tag :per_page, 
                      options_for_select(
                        [15, 30, 50].collect {|per_page| ["#{per_page} per page", per_page]}, 
                        selected: params[:per_page] || 15),
                      class: 'form-select form-control-flush' %>
          <% end %>
        </div>

        <% if show_filters %>
          <div class="col-auto ms-auto">
            <button class="btn" type="button" 
                data-bs-toggle="offcanvas" href="#offcanvasFilters" aria-controls="offcanvasFilters" 
                data-bs-auto-close="outside">
              <i class="icon ti ti-adjustments me-1"></i>
              <span>Filter</span>

              <%- if @ransack_results.conditions.any? %>
                <span class="badge badge-pill bg-primary ms-1">
                  <%= @ransack_results.conditions.size %>
                </span>
              <% end %>
            </button>
          </div>
        <% end %>

      </div>
    </div>

    <section class="card p-0">
      <!-- Table Body -->
      <turbo-frame id="index_<%= page.resource_name %>">
        <%= render(
          "collection",
          collection_presenter: page,
          collection_field_name: resource_name,
          page: page,
          resources: resources,
          table_title: "page-title"
        ) %>
      </turbo-frame>

      <!-- Table Footer -->
      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted d-none">
          Showing <span>1</span> to <span>15</span> of <span>15</span> entries
        </p>
        <%= paginate resources, param_name: '_page', theme: :admin %>
      </div>
    </section>
  </div>

  <!-- Batch actions -->
  <%= render(
    'batch_actions',
    resource_name: display_resource_name(page.resource_name)
  ) %>
</div>

<% if show_filters %>
  <%= render(
    'filters', 
    resource_name: display_resource_name(page.resource_name)
  ) %>
<% end %>