<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solidus Admin</title>

    <%= favicon_link_tag image_path('madmin/solidus-symbol-dark.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "javascript" %>
  </head>
  <body>
    <%= render "navigation" -%>

    <main class="main-content" role="main">
      <%= render "header" -%>

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= render "flashes" -%>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
