<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, parent_page.resource, page.resource], 
      url: [namespace, parent_page.resource, controller_name.singularize.to_sym], method: :patch, 
      html: { class: "form", data: { turbo_action: "replace", controller: 'spree--address--form' } }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation" class="form-errors alert alert-danger" role="alert">
      <h4 class="alert-title">
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h4>
      <hr>
      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error align-items-center">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-body modal-body row">
    <%- attributes = page.attributes(controller.action_name) %>

    <% type_attributes = %i[address_type] %>
    <% attributes.select{|a| type_attributes.include? a.attribute }.each do |attribute| %>
      <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
        <%= render_field attribute, f: f %>
      </div>
    <% end -%>

    <% contact_attributes = %i[customer_type name] %>
    <% attributes.select{|a| contact_attributes.include? a.attribute }.each do |attribute| %>
      <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>" data-spree--address--form-target="<%= attribute.name %>">
        <%= render_field attribute, f: f %>
      </div>
    <% end -%>

    <% business_attributes = %i[company personal_tax_code vat_number billing_email einvoicing_code] %>
    <% attributes.select{|a| business_attributes.include? a.attribute }.each do |attribute| %>
      <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>" data-spree--address--form-target="<%= attribute.name %>">
        <%= render_field attribute, f: f %>
      </div>
    <% end -%>

    <% addr_attributes = %i[address1 address2] %>
    <% attributes.select{|a| addr_attributes.include? a.attribute }.each do |attribute| %>
      <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
        <%= render_field attribute, f: f %>
      </div>
    <% end -%>

    <% city_attributes = %i[zipcode city state] %>
    <% attributes.select{|a| city_attributes.include? a.attribute }.each do |attribute| %>
      <div class="col-md-4 col-sm-12 mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
        <%= render_field attribute, f: f %>
      </div>
    <% end -%>

    <% attributes.reject{|a| (type_attributes + contact_attributes + business_attributes + addr_attributes + city_attributes).include? a.attribute }.each do |attribute| %>
      <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
        <%= render_field attribute, f: f %>
      </div>
    <% end -%>
  </div>

  <div class="form-actions modal-footer">
    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
      Cancel
    </a>
    <%= f.submit class: "btn btn-primary ms-auto" %>
  </div>
<% end %>
