<% content_for(:title) { page.page_title } %>

<header class="page-header d-print-none" role="banner">
  <div class="row g-2 align-items-center">
    <div class="col">
      <!-- Pretitle -->
      <div class="page-pretitle">
        <%= link_to t("administrate.actions.back"), :back %>
      </div>
      <!-- Title -->
      <div class="text-truncate">
        <h2 class="page-title d-inline-block">
          <%= content_for(:title) %>
        </h2>

        <% status_attributes = %i[state payment_state shipment_state] %>
        <% page.attributes.select{|a| status_attributes.include? a.attribute }.each do |attribute| %>
          <span class="ms-1 attribute-data attribute-data--<%= attribute.html_class %>">
            <%= render_field attribute, page: page %>
          </span>
        <% end %>
      </div>
      <div class="text-muted mt-1">
        <%= "#{l(page.resource.created_at, format: :long)} from #{page.resource.channel}" %>
      </div>
    </div>

    <div class="col-auto">
      <!-- Actions -->
      <%= render("show_header_actions", page: page) %>
    </div>
  </div>
</header>