<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="page-header d-print-none" role="banner">
  <div class="row g-2 align-items-center">
    <div class="col">
      <!-- Pretitle -->
      <div class="page-pretitle">
        <%= link_to t("administrate.actions.back"), :back %>
      </div>
      <!-- Title -->
      <h2 class="page-title text-truncate">
        <%= content_for(:title) %>

        <% status_attributes = %i[state payment_state shipment_state] %>
        <% page.attributes.select{|a| status_attributes.include? a.attribute }.each do |attribute| %>
          <span class="ms-3 attribute-data attribute-data--<%= attribute.html_class %>">
            <%= render_field attribute, page: page %>
          </span>
        <% end %>
      </h2>
    </div>

    <div class="col-auto">
      <!-- Actions -->
      <%= render("show_header_actions", page: page) %>
    </div>
  </div>
</header>