<%= link_to(
	t(".refunds"),
	[namespace, page.resource, Spree::Refund],
	class: 'btn btn-ghost-secondary'
) if show_action?(:index, Spree::Refund) %>

<%= link_to(
	t(".return_authorizations"),
	[namespace, page.resource, Spree::ReturnAuthorization],
	class: 'btn btn-ghost-secondary'
) if show_action?(:index, Spree::ReturnAuthorization) %>

<%= link_to(
	t(".customer_returns"),
	[namespace, page.resource, Spree::CustomerReturn],
	class: 'btn btn-ghost-secondary'
) if show_action?(:index, Spree::CustomerReturn) %>

<div class="btn-group" role="group" aria-label="Navigation">
  <%= link_to(
    [namespace, page.prev_resource],
    class: "btn btn-icon #{'disabled' unless page.prev_resource?}",
    title: t("administrate.actions.previous_resource", name: page.page_title),
    'data-bs-toogle': "tooltip", 'data-bs-placement': "bottom"
  ) do %>
    <i class="icon ti ti-arrow-left"></i>
  <% end %>

  <%= link_to(
    [namespace, page.next_resource],
    class: "btn btn-icon #{'disabled' unless page.next_resource?}",
    title: t("administrate.actions.next_resource", name: page.page_title),
    'data-bs-toogle': "tooltip", 'data-bs-placement': "bottom"
  ) do %>
    <i class="icon ti ti-arrow-right"></i>
  <% end %>
</div>