<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <!-- Header -->
    <%= render(
      "show_header",
        page: page,
        resource: resource
      ) 
    %>

    <section class="main-content__body" id="<%= dom_id(page.resource, :form) %>">
      <div class="form-body mt-3 mb-3">
        <div class="row">
          <%- attributes = page.attributes %>

          <!-- Content -->
          <div class="col-12 col-md-8">
            <!-- Line Items -->
            <div class="card mb-3">
              <div class="card-header">
                <h3 class="card-title">Line items</h3>
              </div>
              <turbo-frame id="<%= dom_id(page.resource, "line_items") %>" src="<%= polymorphic_path([namespace, page.resource, ::Spree::LineItem]) %>">
                <div class="card-body">
                  <div class="row w-100 placeholder-glow gy-1">
                    <% 3.times do %>
                      <div class="placeholder col-12 h-30"></div>
                    <% end %>
                  </div>
                </div>
              </turbo-frame>
            </div>

            <!-- Shipments Overview -->
            <div class="card mb-3">
              <div class="card-header">
                <h3 class="card-title">Shipments</h3>
              </div>
              <turbo-frame id="<%= dom_id(page.resource, "shipments") %>" src="<%= polymorphic_path([namespace, page.resource, ::Spree::Shipment]) %>">
                <div class="card-body">
                  <div class="row w-100 placeholder-glow gy-1">
                    <% 3.times do %>
                      <div class="placeholder col-12 h-30"></div>
                    <% end %>
                  </div>
                </div>
              </turbo-frame>
            </div>

            <!-- Adjustments Overview -->
            <div class="card mb-3">
              <div class="card-header">
                <h3 class="card-title">Adjustments</h3>
              </div>
              <turbo-frame id="<%= dom_id(page.resource, "adjustments") %>" src="<%= polymorphic_path([namespace, page.resource, ::Spree::Adjustment]) %>">
                <div class="card-body">
                  <div class="row w-100 placeholder-glow gy-1">
                    <% 3.times do %>
                      <div class="placeholder col-12 h-30"></div>
                    <% end %>
                  </div>
                </div>
              </turbo-frame>
            </div>

            <!-- Payments Overview -->
            <div class="card mb-3">
              <div class="card-body">
                <h3 class="card-title">Summary Payments</h3>
                <div class="row gy-2">
                  <% content_attributes = %i[item_total shipment_total additional_tax_total adjustment_total payment_total total] %>
                  <% attributes.select{|a| content_attributes.include? a.attribute }.each do |attribute| %>
                    <div class="col-6 attribute-label" id="<%= attribute.name %>">
                      <%= t(
                        "helpers.label.#{resource_name}.#{attribute.name}",
                        default: page.resource.class.human_attribute_name(attribute.name),
                      ) %>
                    </div>

                    <div class="col-6 attribute-data attribute-data--<%=attribute.html_class%> text-end">
                      <%= render_field attribute, page: page %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- Side content -->
          <div class="col-12 col-md-4">
            <!-- Customer -->
            <div class="card mb-3">
              <turbo-frame id="<%= dom_id(page.resource, "customers") %>" src="<%= polymorphic_path([namespace, page.resource, :customer]) %>">
                <div class="card-body">
                  <h3 class="card-title">Customer</h3>
                  <div class="row w-100 placeholder-glow gy-1">
                    <% 3.times do %>
                      <div class="placeholder col-12"></div>
                    <% end %>
                  </div>
                </div>
              </turbo-frame>
            </div>

            <!-- Payment Risk -->
            <% if page.resource.payments.exists? %>
              <div class="card mb-3">
                <div class="card-body">
                  <h3 class="card-title">Analisi del rishio di frode</h3>
                  <h2 class="card-title"><%= "#{t('spree.risk_analysis')}: #{t('spree.not') unless page.resource.is_risky?} #{t('spree.risky')}" %></h2>
                  <div class="row gy-2 align-items-center">
                    <div class="col-8 attribute-label">
                      <%= t('spree.failed_payment_attempts') %>
                    </div>
                    <div class="col-4 attribute-data text-end">
                      <%= t('spree.payments_failed_count', count: page.resource.payments.failed.count) %>
                    </div>

                    <%- latest_payment = page.resource.payments.last %>
                    <div class="col-8 attribute-label">
                      <%= t('spree.avs_response') %>
                    </div>
                    <div class="col-4 attribute-data text-end">
                      <span class="status status-<%= latest_payment.is_avs_risky? ? 'warning' : 'success' %>">
                        <% if latest_payment.is_avs_risky? %>
                          <%= avs_response_code[latest_payment.avs_response] %>
                        <% else %>
                          <%= t('spree.success') %>
                        <% end %>
                      </span>
                    </div>

                    <div class="col-8 attribute-label">
                      <%= t('spree.cvv_response') %>
                    </div>
                    <div class="col-4 attribute-data text-end">
                      <span class="status status-<%= latest_payment.is_cvv_risky? ? 'warning' : 'success' %>">
                        <% if latest_payment.is_cvv_risky? %>
                          <%= cvv_response_code[latest_payment.cvv_response_code] %>
                        <% else %>
                          <%= t('spree.success') %>
                        <% end %>
                      </span>
                    </div>

                  </div>
                </div>
              </div>
            <% end %>
          </div>
          
        </div>
      </div>
    </section>
  </div>
</div>
