<li class="nav-item">
  <a class="nav-link" href="#sidebar<%= unique_id %>" data-bs-toggle="collapse" role="button" 
      aria-expanded="<%= link_active? ? 'true' : 'false' %>" aria-controls="sidebar<%= unique_id %>">
    <%- if icon.present? -%>
      <i class="<%= icon %>" aria-hidden="true"></i>
    <% end %>

    <%= label %>
  </a>
  <div class="collapse <%= 'show' if link_active? %>" id="sidebar<%= unique_id %>">
    <ul class="nav nav-sm flex-column">
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </ul>
  </div>
</li>