<% seo_attributes = %i[meta_title meta_description meta_keywords slug] %>
<% if attributes.detect{|a| seo_attributes.include? a.attribute } %>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <h3 class="card-title mb-3">Anteprima inserzione per i motori di ricerca</h3>
      <div class="seo-preview">
        <h3 class="text-primary"><%= page.resource.send(:meta_title).presence || page.resource.send(:name) %></h3>
        <p class="text-success"><%= "https://#{current_store.url}/#{page.resource.send(:slug)}" %></p>
        <p class="text-muted"><%= page.resource.send(:meta_description).presence || page.resource.send(:description) %></p>
      </div>
    </div>
    <div class="card-body">
      <% attributes.select{|a| seo_attributes.include? a.attribute }.each do |attribute| %>
        <div class="mb-3 field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
          <%= render_field attribute, f: f %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>