<%= form.label(label) %>
<%- code = ::Spree::Config[:currency] || ::Money.default_currency.iso_code %>
<%- money = ::Spree::Money.new(0, currency: code) %>
<%- currency = money.currency %>

<% if model.ransackable_scopes.include?(field) %>
  <div class="input-icon">
    <span class="input-icon-addon">
      <%= currency.symbol %>
    </span>
    <%= form.text_field field, value: form.object.send(field) %>
    <span class="input-icon-addon">
      <%= code %>
    </span>
  </div>
<% else %>
  <div class="form-group">
    <%= form.label 'start' %>

    <div class="input-icon mb-3">
      <span class="input-icon-addon">
        <%= currency.symbol %>
      </span>
      <%= form.text_field "#{field}_gteq" %>

      <span class="input-icon-addon">
        <%= code %>
      </span>
    </div>

    <%= form.label 'end' %>

    <div class="input-icon">
      <span class="input-icon-addon">
        <%= currency.symbol %>
      </span>
      <%= form.text_field "#{field}_lteq" %>
      <span class="input-icon-addon">
        <%= code %>
      </span>
    </div>
  </div>
<% end %>
