<%= form.label(label) %>

<% if model.ransackable_scopes.include?(field) %>
  <div class="input-icon">
    <span class="input-icon-addon">
      <i class="icon ti ti-calendar"></i>
    </span>
    <%= form.text_field field, value: form.object.send(field), data: { type: 'datetime', controller: 'datetime' } %>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label 'start' %>

        <div class="input-icon">
          <span class="input-icon-addon">
            <i class="icon ti ti-calendar"></i>
          </span>
          <%= form.text_field "#{field}_gteq", data: { type: 'datetime', controller: 'datetime' } %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <%= form.label 'end' %>

        <div class="input-icon">
          <span class="input-icon-addon">
            <i class="icon ti ti-calendar"></i>
          </span>
          <%= form.text_field "#{field}_lteq", data: { type: 'datetime', controller: 'datetime' } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

