<!-- Header -->
<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <!-- Pretitle -->
        <h6 class="header-pretitle">Overview</h6>
        <!-- Title -->
        <h1 class="header-title text-truncate"><%= resource.friendly_name.pluralize %></h1>
      </div>

      <div class="col-auto">
        <!-- Actions -->
        <%= link_to resource.new_path, class: "btn btn-primary ms-2" do %>
          New <span class=""><%= resource.friendly_name %></span>
        <% end %>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col">

        <!-- Scope Nav -->
        <ul class="nav nav-tabs nav-overflow header-tabs">
          <% if resource.scopes.any? %>
            <li class="nav-item">
              <%= link_to "All", resource.index_path, class: class_names('nav-link text-nowrap', {'active':  params[:scope].blank?}) %>
            </li>
          <% end %>

          <% resource.scopes.each do |scope| %>
            <li class="nav-item">
              <%= link_to scope.to_s.humanize, resource.index_path(scope: scope), class: class_names('nav-link text-nowrap', {'active': params[:scope] == scope.to_s}) %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>

<!-- Table Card -->
<div class="card">
  <!-- Table Header -->
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        
        <!-- Search Form -->
        <form>
          <div class="input-group input-group-flush input-group-merge input-group-reverse">
            <%= search_field_tag :q, params[:q], placeholder: "Search", class: "form-control list-search" %>
            <span class="input-group-text">
              <i class="fe fe-search"></i>
            </span>
          </div>
        </form>

      </div>

      <div class="col-auto me-n3">

        <!-- Select -->
        <form>
          <select class="form-select form-control-sm form-control-flush">
            <option>5 per page</option>
            <option selected>10 per page</option>
            <option>All</option>
          </select>
        </form>

      </div>

      <div class="col-auto">
        <button class="btn btn-sm btn-white" type="button" 
            data-bs-toggle="offcanvas" href="#offcanvasFilters" aria-controls="offcanvasFilters" 
            data-bs-auto-close="outside">
          <i class="fe fe-sliders me-1"></i> Filter <span class="badge bg-primary ms-1 d-none">0</span>
        </button>
      </div>

    </div>
  </div>

  <!-- Table Body -->
  <div class="table-responsive">
    <table class="table table-sm table-hover table-nowrap card-table">
      <thead>
        <tr>
          <% resource.attributes.values.each do |attribute| %>
            <% next if attribute.field.nil? %>
            <% next unless attribute.field.visible?(action_name) %>

            <th>
              <%= sortable attribute.name, attribute.name.to_s.titleize, class: 'list-sort text-muted' %>
            </th>
          <% end %>

          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @records.each do |record| %>
          <tr>
            <% resource.attributes.values.each do |attribute| %>
              <% next if attribute.field.nil? %>
              <% next unless attribute.field.visible?(action_name) %>
              <td>
                <%= render partial: attribute.field.to_partial_path("index"), locals: { field: attribute.field, record: record, resource: resource } %>
              </td>
            <% end %>

            <td class="text-end">
              <div class="dropdown">
                <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-more-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <%= link_to "View", resource.show_path(record), class: "dropdown-item" %>
                  <%= link_to "Edit", resource.edit_path(record), class: "dropdown-item" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Table Footer -->
  <div class="card-footer d-flex justify-content-between">
    <%== render partial: 'madmin/pagy/nav', locals: { pagy: @pagy } if @pagy.pages > 1 %>
  </div>
</div>


<!-- Filters -->
<div class="offcanvas offcanvas-end" id="offcanvasFilters" tabindex="-1">
  <form class="mb-4">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title">Filters</h4>
      
      <button class="btn btn-sm btn-link text-reset d-none" type="reset">
        <small>Clear filters</small>
      </button>
    </div>
    <div class="offcanvas-body">
      <!-- Implement collection of filters in resource class -->

      <button class="btn w-100 btn-primary" type="submit">
        Apply filter
      </button>
    </div>
  </form>
</div>
